<style>
    .navbar-right {
        float: right !important;
        margin-right: 5px;
    }
    .navbar-text {
        margin-right: 10px;
    }
</style>
<div class="navbar-right">
    <div class="navbar-text">
        <b>Your cart:</b>
        {{itemCount()}} item(s),
        {{total() | currency}}
    </div>
    <a class="btn btn-default navbar-btn" href="">Checkout</a>
</div>