<!DOCTYPE html>
<html ng-app="sportsStore">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sports Store</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="controllers/sportsStore.js"></script>
    <script src="filters/customFilters.js"></script>
    <script src="controllers/productListControllers.js"></script>
    <script src="components/cart/cart.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body ng-controller="sportsStoreCtrl">
<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
    <cart-summary/>
</div>
<div class="panel panel-default row" ng-controller="productListCtrl">
    <div class="col-xs-3">
        <a class="btn btn-block btn-default btn-large" href=""
           ng-class="setActiveButton(item)"
           ng-click="selectCategory()">Главная</a>
        <a class="btn btn-block btn-default btn-large" href=""
           ng-repeat="item in data.products | orderBy: 'category' | unique: 'category'"
           ng-click="selectCategory(item)"
           ng-class="setActiveButton(item)"
                >{{item}}</a>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn">
            <h3>
                <strong>{{item.name}}</strong>
                <span class="pull-right label label-primary">{{item.price | currency}}</span>
            </h3>
            <span class="lead">{{item.description}}</span>
        </div>
    </div>
</div>
</body>
</html>